package {{ .Package }}

import (
{{- range .Imports }}
	"{{ . }}"
{{- end }}
)

func {{ .FuncName }}() *resource.ManifestBuilder {
	manifestBuilder := resource.NewManifestBuilder().
		ApiVersion("{{ .GroupVersion }}").
		Kind("{{ .Kind }}").
		Metadata(
			resource.NewMetadataBuilder().Name("{{ .Name }}"),
		)

	builder := {{ .ConvertedBuilder }}
	object, err := builder.Build()
	if err != nil {
		manifestBuilder.RecordError("Manifest({{ .Kind }})", err)
		return manifestBuilder
	}

	return manifestBuilder.Spec(object)
}
